---
layout: post
title: Ask about joining BYFC
---

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 30px;
  padding: 10px;
}
th {
  font-weight: bold;
}
</style>


<p>If a team has spaces available and you are interested in joining, please use the form at the bottom of this page.</p>
<p>Availability in each team in 2021/22 (updated November 2021):</p>

<table>
<tr><th>Team</th><th>Availability</th></tr>
{% for team in site.data.teams %}
{% if team.manager != nil %}
<tr><td>{{ team.name }}</td><td>{{ team.availability }}</td></tr>
{% endif %}
{% endfor %}
</table>

<p>Click on the next button in the form below to begin.</p>

<div style="text-align:center" markdown="1">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfv3Zo7tN45Xy-Ul7SgZVQhd8-K-r02G1J00DQEKvwqnyPs6w/viewform?embedded=true" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
